h1 {
  font-family: Georgia, serif;
  font-weight: 800;
  line-height: 1.1;
  color: #164852;
}

h4 {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #FF3838;
}
